html {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #35495e;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.title {
  display: block;
  font-weight: 300;
  font-size: 3.5em;
  padding: 5px 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.5em;
  padding: 5px 0;
}

.text {
  padding: 10px 0;
  font-size: 1em;
  text-align: left;
  line-height: 1.4em;
}

.text-title {
  text-decoration: underline;
}

.company-block {
  display: flex;
}

.subtitle-sm {
  font-style: italic;
  padding: 10px 0;
  text-align: right;
}
.clip-circle {
  width: 100px;
  clip-path: circle(50px at center);
}
.header {
  width: 100%;
  background-color: #141c2f;
  color: white;
  padding: 30px;
  text-align: right;
}
.pre-name {
  width: 100%;
  background-color: #002b36;
  color: #2aa198;
  padding: 30px;
  line-height: 22px;
  font-weight: 500;
  font-size: 0.8em;
}

.button-translate {
  user-select: none;
  margin-top: 15px;
  color: white;
  display: inline-block;
  padding: 7px 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.footer {
  width: 100%;
  background-color: #141c2f;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.next-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+json+json5&plugins=jsonp-highlight */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}


/*# sourceMappingURL=styles.chunk.css.map*/